.homeContainer {
  background: #232323;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: hsla(0, 0%, 47%, 0.13);
  }

  video {
    -webkit-box-shadow: 0 0 20px 0 hsla(0, 0%, 0%, 0.94);
    -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.94);
    box-shadow: 0 0 20px 0 hsla(0, 0%, 0%, 0.94);
  }
  .passwordContainer {
    width: 608px;
    label {
      color: hsl(0, 0%, 69%);
    }
    input {
      background: transparent;
      color: white;
      width: 100%;
      font-size: 16px;
      padding: 6px 12px;
    }
  }
}