<div class="homeContainer">

  <h2 class="text-muted">The Black Lotus Club</h2>

  <br/>
  <br/>

  <video id="gfyVid1" class="gfyVid" width="608" height="272" autoplay="" loop="" muted="muted" style="display: block;" poster="//thumbs.gfycat.com/SpicyPalatableIbex-poster.jpg">
      <source id="webmsource" src="//zippy.gfycat.com/SpicyPalatableIbex.webm" type="video/webm">
      <source id="mp4source" src="//zippy.gfycat.com/SpicyPalatableIbex.mp4" type="video/mp4">
      Sorry, you don't have HTML5 video and we didn't catch this properly in javascript.  
      You can try to view the gif directly: <a href="http://fat.gfycat.com/SpicyPalatableIbex.gif">http://fat.gfycat.com/SpicyPalatableIbex.gif</a>. 
  </video>

  <br/>
  <br/>

  <div class="passwordContainer">
    <input type="text" class="form-control" ng-model="password" placeholder="Cartago delendi est..." autofocus />
    <br/>
    <a ng-if="password == 'guest'" href="/#/deck_editor" class="btn btn-primary">Welcome to the black lotus club.</a>
  </div>
</div>