<section class="board flex flex-row">
  <player-info></player-info>

  <div class="battlefield flex">
    <img 
      ng-repeat="cardId in player.battlefield"
      class="card" 
      src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{ cardId }}&type=card" 
      height="200">
  </div>



  <div ng-if="!player.isOpponent" class="hand"> 
  	<div class="cardContainer" ng-repeat="cardId in player.hand">
	  	<img 
	      class="card" 
	      src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{ cardId }}&type=card" 
	      height="200"
	      data-card-id="{{ cardId }}" />

	    <img 
	      class="hoveredCard" 
	      src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid={{ cardId }}&type=card" 
	      height="500"
	      data-card-id="{{ cardId }}" />
	  </div>
  </div>
</section>