/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";


$lightPink: #FFBAD1;

$green: #70D101;
$orange: #FFB946;
$yellow: #F5D709;
$pink: #FF7EAA;
$blue: #2196F3;

$lightRed: #F88686;
$lightOrange: #F8BB86;


html, body, .view-frame {
	height: 100%;
	font-size: 18px;
}

/* Helper classes */
.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex {
	flex: 1;
}


/* UI Elements */
.boardContainer {
	height: 100%;
}

.turnBar {
	display: flex;
	background: $blue;
	height: 50px;
	align-items: center;
	padding: 0 10px;
	span {
		color: white;
		font-weight: 500;
		margin-right: 10px;
		&.active {
			color: hsla(0, 0, 100, 0.7);
		}
	}
}


.playerInfo {
	background: hsl(0, 0%, 20%);
	width: 170px;
	align-items: center;
	padding: 20px 0;
	color: white;
	.avatar {
		height: 127px;
		width: 127px;
		border-radius: 5px;
	}
	.life {
		background: hsl(296, 24%, 50%);
		border-radius: 50%;
		width: 40px;
		height: 40px;
		text-align: center;
		padding-top: 8px;
		margin-top: -20px;
	}
}

.battlefield {
	overflow: auto;
	padding: 20px;
	background: hsl(0, 0%, 20%);
	.card {
		margin-right: 5px;
	}
}

.hand {
	position: absolute;
	bottom: -200px;
	left: 10%;
	transition: all .2s;
	&:hover {
		bottom: 0;
	}
	.card {
		margin-right: 5px;
	}
}















