/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

@import "selectize/dist/css/selectize.default.css";

$lightPink: #FFBAD1;

$green: #70D101;
$orange: #FFB946;
$yellow: #F5D709;
$pink: #FF7EAA;
$blue: #2196F3;

$lightRed: #F88686;
$lightOrange: #F8BB86;


html, body, .view-frame {
	height: 100%;
	font-size: 18px;
}

/* Helper classes */
.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex {
	flex: 1;
}


/* UI Elements */
.boardContainer {
	height: 100%;
}

.turnBar {
	display: flex;
	background: $blue;
	height: 50px;
	align-items: center;
	padding: 0 10px;
	span {
		color: white;
		font-weight: 500;
		margin-right: 10px;
		&.active {
			color: hsl(321, 97%, 78%);
		}
	}
}


.playerInfo {
	background: hsl(0, 0%, 20%);
	width: 170px;
	align-items: center;
	padding: 20px 0;
	color: white;
	.avatar {
		height: 127px;
		width: 127px;
		border-radius: 5px;
	}
	.life {
		background: hsl(296, 24%, 50%);
		border-radius: 50%;
		width: 40px;
		height: 40px;
		text-align: center;
		padding-top: 8px;
		margin-top: -20px;
	}
}

.battlefield {
	overflow: auto;
	padding: 20px;
	background: hsl(0, 0%, 20%);
	.card {
		margin-right: 5px;
		border-radius: 6%;
		&:hover {
			cursor: pointer;
		}
		&.tapped {
			opacity: 0.2;
		}
	}
}

.hand {
	position: absolute;
	bottom: -100px;
	left: 10%;
	z-index: 1;
	.cardContainer {
		display: inline-block;
		position: relative;
		&:hover {
			cursor: pointer;
			.card {
				visibility: hidden;
			}
			.hoveredCard {
				opacity: 1;
				bottom: 120px;
			}
		}
		.card {
			margin-right: 5px;
			border-radius: 5%;
			z-index: 1;
		}
		.hoveredCard {
			opacity: 0;
			position: absolute;
			z-index: 1;
			bottom: 100px;
			left: -70%;
			border-radius: 5%;
			cursor: pointer;
			pointer-events: none;
			transition: bottom .2s;
		}
	}
}

.deckEditorOuterContainer {
	height: 100%;
}
.deckEditor {
	height: 100%;
	.cardSelector {
		padding: 20px 20px 0px 20px;
		.cardResults {
			overflow: auto;
			img {
				border-radius: 5%;
			}	
		}
	}
	.chosenCards {
		width: 300px;
		border-left: 1px solid hsl(0, 0%, 86%);
		.deckInfo {
			padding: 20px 20px 10px;
			background-image: linear-gradient(hsl(0, 100%, 100%), hsl(225, 33%, 98%));
      border-bottom: 1px solid hsl(210, 8%, 85%);
			.deckName {
				font-size: 23px;
				font-weight: 500;
				line-height: 23px;
				height: 34px;
				text-align: center;
			}
		}
		.deckCards {
			overflow: auto;
			.deckCardsList {
				list-style: none;
				padding: 0;
				li {
					padding: 4px 10px;
					font-size: 14px;
					border-bottom: 1px solid hsl(210, 8%, 85%);
					cursor: pointer;
					&.blue {
						background: #BBDEFB;
					}
					&.red {
						background: #FFCDD2;
					}
					&.black {
						background: #EEEEEE;
					}
					&.green {
						background: #DCEDC8;
					}
					&.white {
						background: #FFF8E1;
					}
				}
			}
		}
	}
}
footer {
	background-image: linear-gradient(hsl(0, 100%, 100%), hsl(225, 33%, 98%));
  border-top: 1px solid hsl(210, 8%, 85%);
  padding: 5px 0px 5px 20px;
  p {
  	margin-bottom: 0;
  	font-size: 14px;

  	a {
  		color: $blue;
  	}
  }
}

.text-light {
  color: hsl(0, 0%, 83%);
}

.progress-bar-black {
	background: hsl(0, 0%, 34%);
}

.deckPreview {
	h3 {
		margin-top: 0;
	}
}









